<html>

<head>
  <title>Meetup Trends</title>
</head>
<body>
  <h2>Meetup Trends</h2>
</body>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src={{bar_embed}} height="525" width="60%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src={{pie_embed}} height="525" width="30%"></iframe>
<iframe id="igraph" scrolling="no" style="border:none;" seamless="seamless" src={{line_embed}} height="525" width="100%"></iframe>

<footer>
  <p>Last Update: {{timestamp}}</p>
</footer>

</html>
